/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {

}

/* sm <= Medium (md) */
@media (max-width : 768px) {

}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	.warp_head img{
		width: 100%;
	}
	.warp_block_1{
		margin-bottom: 15px;
	}

	.screen_8 > .row{
		margin: 0;
		width: 100%;
	}

	.media_left,
	.media_right{
		margin-right: 0;
		width: 100%;

		overflow: hidden;
	}
	.warp_head_screen_3 .text{
		font-size: 21px;
		padding-left: 15px;
	}
	.warp_head_screen_3 img{
		height: 80px;
	}

	.warp_selected_date_screen_3{
		padding: 29px 20px;
	}
	.warp_radio_button{
		flex-wrap: wrap;
	}
	.formInput{
		min-width: 100%;
	}
	.warp_btn_back button{
		margin: 0 5px;
	}
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
